div.hover{
	background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
div.container6 {
  height: 10em;
  display: flex;
  align-items: right;
  justify-content: right;  
}
div.container6 p {
  margin: 0 
}

div.box{
	background-color: #a35cc3; 
	width: 400px;
	opacity: 0.5;
	
}

/* A white bottom layer */
#whitebg { 
    background: white; 
    width:400px; 
    z-index:1
}

/* A black layer on top of the white bottom layer */
#blackbg { 
    background: black; 
    width:100px; 
    z-index:2
}
img{
	height: 100%; 
	width: 100%; 
	opacity: 0.5;
}

#test p {
    opacity: 4;
    margin-top: 25px;
    font-size: 50px;
    text-align: left;
	color: black; 
	font-family: Arial; 
}
h1{
	color: black; 
	/*font-family: 'Libre Barcode 128 Text', cursive;*/
	font-family: 'Amatic SC', cursive; 
	font-size: 80px;
	float: left;
	margin: 20px; 
	margin-right: 90px; 
	height: 20px; 

	
}

div.buttons{
	display: flex; 
	justify-content: center;
	font-family: 'News Cycle', sans-serif; 
	font-size: 35px; 

}

.btn-spacing {
margin-right: 10px;
margin-bottom: 10px !important;
}

.button {
	background-color: gainsboro; 
	color: gray; 
	border-radius: 14px; 
	font-size: 30px; 
	padding: 5px 5px; 
	font-family: 'Arial', sans-serif; 
	text-decoration: none; 
	background-blend-mode: darken;
	float: center; 
	opacity: 0.5; 
}
.button:hover{
	color: cornflowerblue; 
	background-color: white; 
		opacity: 2; 


}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

#outer
{
  width:100%;
  text-align: center;
}
.inner
{
    display: inline-block;
}
.footer{ 
     position: fixed;     
     text-align: left;    
     bottom: 0px; 
     width: 100%;
	 font-family: 'News Cycle', sans-serif; 
	 font-size: 15px
}
.home{
	/*background-image: url("14650058_1093261204056033_1040865232147254206_n.jpg"); 
	background-repeat: no-repeat; */ 
	background-size: 50% 100%; 
	background-position: left top, right top; 
}
h2{
	color: black; 
	font-family: 'News Cycle', sans-serif; 
	font-size: 24px;
	margin-left: 90px; 
	height: 40px; 
	float: left; 
}

h3{
	font-family:  'Seaweed Script', cursive;
	font-size: 15px; 
	height: 400px; 

}

body{
	/*background-image: radial-gradient(#F8B195, #F67280,#C06C84,#6c5B7B, #355C7D); 
	background-image: url('14650058_1093261204056033_1040865232147254206_n.jpg'); 
	background-repeat: no-repeat; 
	background-position: right;  */
	background-color: grey; 
	font-family: 'Monoton', cursive;
	color: gainsboro; 
	border-color: white; 
	font-size: 94px; 	
	background-image: url('coffeemac.jpg');  
	background-repeat: no-repeat; 
	background-size: cover;
	background-blend-mode: soft-light;

}
.pagetitle{
	font-family: 'Bungee Inline', cursive;
	color:white; 
	border-color: white;
	border: 10px 10px solid; 
	font-size: 104px; 
	position: center; 
	background-clip: content-box; 
	padding: 20px 25px; 
}
/* The side navigation menu */
.sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	  opacity: 0.3; 
}

/* The navigation menu links */
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

