body{
	/*background-color: #ac8dfd; */
	background-color: mediumpurple;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'News Cycle', sans-serif; 

}
h1 {
	color: black; 
	font-size: 30px; 
	float: center; 
	font-family: 'News Cycle', sans-serif; 
	background-color: white;

	
}
h2{
	color: black; 
	font-family: 'News Cycle', sans-serif; 
	font-size: 24px;
	
}
arrow{
	border: solid white; 
	border-width: 0 10px 10px 0; 
	display: inline-block; 
	padding: 10px 10px; 
}

.left{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	right: 500px; 

}
.footer{ 
     position: fixed;     
     text-align: left;    
     bottom: 0px; 
     width: 100%;
	 font-family: 'News Cycle', sans-serif; 
	 font-size: 15px
}
figcaption{
	display: block; 
}
figure {
  float: center;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
}
div.hover{
	background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center; 
}
div.container6 p {
  margin: 0 
}

img{
	height: 300px; 
	width: 300px; 
    justify-content: center; 
	float: right; 
}

h1.dotted{  /* header with dotted border */
	color: black; 
	font-family: 'Courier'; 
	font-size: 14px; 
	float: right; 
	border-style: dotted; 
}

a:visited{
	color : none; 
}
/*h2{
	color: black; 
	font-family: 'News Cycle', sans-serif; 
	font-size: 24px;
	float: left;
	margin-left: 70px; 
	height: 40px; 
}*/ 
p{
	color: black; 
	font-family: 'Courier'; 
	font-size: 14px; 
}
div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
}
div.container6 p {
  margin: 0 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'News Cycle', sans-serif; 

}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #ac8dfd; 
}
.footer{ 
     position: fixed;     
     text-align: left;    
     bottom: 0px; 
     width: 100%;
	 font-family: 'News Cycle', sans-serif; 
	 font-size: 15px
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


